ejemplos-parte1/xml/acta.dtd

<!ELEMENT acta (calificacion+, diligencia*) >
<!ATTLIST acta
	asignatura 	CDATA #REQUIRED
	convocatoria (febrero | junio | julio) #REQUIRED
	curso CDATA #IMPLIED
	>
	
<!ELEMENT calificacion (nif, nombre?, nota) >
<!ELEMENT diligencia (nif, nombre?, nota) >
<!ATTLIST diligencia
	fecha CDATA #REQUIRED
	extraordinaria (si | no ) "no"
	>

<!ELEMENT nif (#PCDATA) >
<!ELEMENT nombre (#PCDATA) >
<!ELEMENT nota (#PCDATA) >

